# Banco de Dados Local
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha_secreta
POSTGRES_DB=nome_do_banco
DATABASE_URL=postgresql://seu_usuario:sua_senha_secreta@localhost:5433/nome_do_banco

# Integrações
GOOGLE_CALENDAR_ID=
META_WA_TOKEN=
META_PHONE_NUMBER_ID=
WEBHOOK_VERIFY_TOKEN=
WHATSAPP_VERIFY_TOKEN=seu_verify_token
META_APP_SECRET=seu_app_secret