alembic>=1.0.0
fastapi>=0.100.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
psycopg2-binary>=2.9.0
pytest>=7.0.0
sqlalchemy>=2.0.0
uvicorn>=0.20.0
google-api-python-client>=2.0.0
google-auth>=2.0.0
apscheduler
psycopg[binary]
isodate
httpx>=0.20.0